username = 'xxxx'
scope = 'user-follow-modify playlist-modify'
client_id = 'xxx'  
client_secret = 'xx'  
redirect_uri = 'https://www.plattentests.de'
master_playlist_id = 'xxx'
plattentests_review_api_endpoint = "https://www.plattentests.de/api/v1/reviews/latest"